<div id="container">
    <h2 class="text-center">Find a Cluster Alert</h2>
  <!-- <h1>Find A Cluster</h1> -->
      <div class="d-flex justify-content-center">
          <form action="/cluster/searchalert" class="search-form">
            <i class="fas fa-search"></i>
            <input type="search" name="term" placeholder="e.g PHX-POC001...">
            <input type="submit" value="Search">
          </form>
      </div>
  </div>
    <hr>
  
  <h2 class="text-center">All Current alerts</h2>
  <div class="table-responsive">
  <%- include('./partials/messages') %>
  <table class="table table-striped">
      <tr>
          <th>Cluster Name</th>
          <th>Cluster IP</th>
          <th>Total Alerts</th>
          <th>Alert Title</th>
          <th>Last Scan Date</th>
         
      </tr>
      <% alerts.forEach(function(alert) { %>
          
          <tr>
           <td><a href="/cluster/<%= alert.cluster.id %>"><%= alert.cluster.clustername %></a></td>
           <td><a href="http://<%= alert.cluster.clusterip %>" target="_blank"><%= alert.cluster.clusterip %></a></td>
           <td><%= alert.totalalerts %></td>
           <td><%= alert.alerts %></td>
           <td><%= alert.updatedAt %></td>
           
          </tr>
       
      <% }); %>
      </table>
      
  </div>
  