<h2 class="text-center">Cluster Details</h2>
<% if (typeof clusters == '') { %>

    <p>No Entry found</p>
    <% } else{ %>
<table class="table table-striped">
    <tr>
        <td>Cluster Name</td>
        <td><%= clusters.clustername %></td>
    </tr>
    <tr>
        <td>Primary Vlan</td>
        <td><%= clusters.privlan %></td>
    </tr>
    <tr>
        <td>Secondary Vlan</td>
        <td><%= clusters.secvlan %></td>
    </tr>
    <tr>
        <td>TOR 1 IP Address</td>
        <td><%= clusters.tor1ip %></td>
    </tr>
    <tr>
        <td>TOR 2 IP Address</td>
        <td><%= clusters.tor2ip %></td>
    </tr>
    <tr>
        <td>Physical Interface</td>
        <td><%= clusters.interface %></td>
    </tr>
    
    </table>
    <% if (user) { %>
            <form action="/cluster/delete/<%= clusters.id %>" method="POST" id="delete-form"><input type="hidden" name="_method" value="DELETE">
                <a class="btn btn-primary" href="/cluster/edit/<%= clusters.id %>">Edit</a><a class="btn btn-primary" href="/cluster/config/<%= clusters.id %>">Modify Vlans</a>
                <button type="submit" class="btn btn-danger">
                DELETE
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Add Reservation
              </button>
        </form>
        <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Reserve a vlan</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-wrap">
                <h1>Add a Vlan</h1>
                <%= typeof msg != 'undefined' ? msg : '' %>
                <%- include('./partials/messages') %>
                <form method="POST", action="/cluster/vlanreserve/<%= clusters.id %>">
                  <div class="input-group">
                    <label for="clustername">Cluster Name</label>
                    <input type="text" name="clustername" id="clustername" class="input-box" placeholder="eg. PHX-POC001"
                      maxlength="100" required value="<%= clusters.clustername %>" disabled="disabled">
                      
                    </div>
                  
                  <div class="input-group">
                    <label for="privlan">Primary Vlan</label>
                    <input type="text" name="privlan" id="privlan" class="input-box" placeholder="Enter Primary Vlan id"
                    maxlength="100" required value="<%= clusters.privlan %>" disabled="disabled">
                  </div>
                  <div class="input-group">
                      <label for="secvlan">Secondary Vlan</label>
                      <input type="text" name="secvlan" id="secvlan" class="input-box" placeholder="Enter Secondary Vlan id"
                      maxlength="100" required value="<%= clusters.secvlan %>" disabled="disabled">
                  </div>
                  <div class="input-group">
                    <label for="extravlan">Extra Vlan to be Mapped (One VLAN per reservation)</label>
                    <input type="text" name="extravlan" id="extravlan" class="input-box" placeholder="Only one vlan is allowed" required 
                    value="<%= typeof clusters.extravlan != 'undefined' ? clusters.extravlan : '' %>">
                  </div>
                  <div class="input-group">
                    <label for="startDate">Reservation Start Date</label>
                    <input type="datetime-local" name="startDate" id="startDate" class="input-box" placeholder="Reservation start Date" required >
                  </div>
                  <div class="input-group">
                    <label for="stopDate">Reservation Stop Date</label>
                    <input type="datetime-local" name="stopDate" id="stopDate" class="input-box" placeholder="Reservation stop Date" required >
                  </div>
                  <input type="submit" value="Reserve Vlan" class="btn btn-reverse">
                </form>
              </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
        
        
        
        <!-- <a class="btn btn-danger" href="/cluster/delete/<%= clusters.id %>">Delete</a> -->
        <%- include('./partials/messages') %>
        <% } else{ %>
            <p>Log in to perform administrative cluster tasks</p>
            <% } %>
            <% } %>
    