<h2 class="text-center">All Reservations</h2>
<div class="table-responsive">
<%- include('./partials/messages') %>
<table class="table table-striped">
    <tr>
        <th>Cluster Name</th>
        <th>Reservation Extra Vlan</th>
        <th>Reservation Status</th>
        <th>Reservation Start Date</th>
        <th>Reservation Stop Date</th>
    </tr>
    <% reservations.forEach(function(reservation) { %>
        
        <tr>
         <td><a href="/cluster/<%= reservation.cluster.id %>"><%= reservation.cluster.clustername %></a></td>
         <td><%= reservation.extravlan %></td>
         <td><%= reservation.status %></td>
         <td><%= reservation.startDate %></td>
         <td><%= reservation.stopDate %></td>
      </tr>
    <% }); %>
    </table>
</div>
