<h2 class="text-center">Returned Query</h2>
<% if (clusters == '') { %>

    <p>No Returned Query</p>
    <% } else{ %>
      <div class="table-responsive">
      <table class="table table-striped">
    <tr>
        <th>Cluster Name</th>
        <th>Primary Vlan</th>
        <th>Secondary Vlan</th>
        <th>TOR 1 IP</th>
        <th>TOR 2 IP</th>
        <th>Physical Interface</th>
        
    </tr>
    <% clusters.forEach(function(cluster) { %>
        
        <tr>
        <td><a href="/cluster/<%= cluster.id %>"><%= cluster.clustername %></a></td>
         <td><%= cluster.privlan %></td>
         <td><%= cluster.secvlan %></td>
         <td><%= cluster.tor1ip %></td>
         <td><%= cluster.tor2ip %></td>
         <td><%= cluster.interface %></td>
                  
       </tr>
    <% }); %>
    </table>
    <% if (paginate.hasPreviousPages || paginate.hasNextPages(pageCount) ) { %>
        <div class="navigation well-sm" id="pagination">
          <ul class="pager">
            <% if (paginate.hasPreviousPages) { %>
              <li class="previous">
                <a href="<%= paginate.href(true) %>">
                  <i class="fa fa-arrow-circle-left"></i>
                  Previous
                </a>  
              </li>
            <% } %>  
            <% if (pages) { %>
              <% pages.forEach(function(page, i){ %>
                <a class="btn btn-primary" href="<%= page.url %>"><%= page.number %></a>
              <% }); %>
            <% } %>  
            <% if (paginate.hasNextPages(pageCount)) { %>
              <li class="next">
                <a href="<%= paginate.href() %>">
                  Next &nbsp;
                  <i class="fa fa-arrow-circle-right"></i>
                </a>  
              </li>
            <% } %>  
            </ul>      
          </div>
        <% } %>
        </div>
        <% } %>
    